@import "../../../styles/colors.scss";


.divPrincipale{
  color: $primary-color-3;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;

  .divSolo{
    margin-top: 10px;
    width: 95%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .divDoppio{
    margin-top: 10px;
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: space-around;

    .divScritta{
      width: 40%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .divImmagine{
      width: 48%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 20px;
    }
  }
  @media screen and (max-width: 660px) {
    .divDoppio, .divSolo{
    margin-bottom: 50px;
    }
  }
}
