@import "../src/styles/colors.scss";

@import "~bootstrap/dist/css/bootstrap.css";
@import "primeicons/primeicons.css";

body{
  background-color: $primary-color-1!important;
  font-family: 'Montserrat', sans-serif!important;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.p-password {
  width: 100%!important;
  padding: 0;
  margin: 0;
  input.p-inputtext.p-component.p-element.ng-tns-c3539607493-0.p-password-input , input.p-inputtext.p-component.p-element.ng-tns-c3539607493-1.p-password-input {
    border: none!important;
    width: 100%!important;
    padding: 0!important;
    margin: 0;
  }
}
